name: Check Markdown links

on:
  push:
  schedule:
  # Run once a week on Sundays
  - cron: "0 9 * * SUN"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: Create local version of config
      run: |
        echo '{
        "httpHeaders": [
          {
            "urls": ["https://github.com/", "https://guides.github.com/", "https://help.github.com/", "https://docs.github.com/"],
            "headers": {
              "Accept-Encoding": "zstd, br, gzip, deflate"
            }
          }
        ]
        "timeout": "10s",
        "retryOn429": true,
        "retryCount": 3,
        "fallbackRetryDelay": "5s"
        }' > 'markdown.links.config.json'
        echo "CONFIG_FILE=markdown.links.config.json" >> $GITHUB_ENV
        cat 'markdown.links.config.json'
    - name: List files
      run: ls -lh
    - name: Check Markdown links
      uses: tcort/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'no'
        use-verbose-mode: 'yes'
        config-file: ${{ env.CONFIG_FILE }}
