name: Check Markdown links

on:
  push:
  schedule:
  # Run once a week on Sundays
  - cron: "0 9 * * SUN"

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    - name: List files
      run: ls -lh
    - run: cat README.md

    - name: Link Checker
      uses: lycheeverse/lychee-action@v2

    - name: Check Markdown links
      uses: tcort/github-action-markdown-link-check@v1
      with:
        use-quiet-mode: 'no'
        use-verbose-mode: 'yes'
        config-file: ${{ env.CONFIG_FILE }}
